In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

data = pd.read_excel('./datasets/dataset_scoring_bank.xlsx')
data.head()

,objective,ExStatus,p01rcy,p02rcy,p03rcy,p04rcy,totalspend,p05spend,p05trans,p06rcy,...,tf89,tf90,tf91,tf92,tf93,tf94,tf95,tf96,tf99,gender3
0,positive,train,0.991342,0.0,0.995671,0.0,4012,0.000000,0.000000,0.991342,...,1.782353,0.647059,0.360784,0.190196,0.172549,781,491,289,0.170588,0
1,positive,train,0.000000,0.0,0.000000,0.0,13,0.000000,0.000000,0.000000,...,0.667038,0.277283,0.259466,0.167038,0.093541,1108,823,285,0.125835,1
2,positive,train,0.000000,0.0,0.952381,0.0,2628,0.000000,0.000000,0.000000,...,0.756588,0.420250,0.341886,0.203883,0.138696,1711,1169,542,0.182386,0
3,positive,train,0.000000,0.0,0.000000,0.0,962,0.000000,0.000000,0.000000,...,1.517647,0.470588,0.205882,0.088235,0.117647,241,141,99,0.117647,0
4,positive,train,0.000000,0.0,0.000000,0.0,4574,0.032172,0.413793,0.000000,...,1.020000,0.310000,0.290000,0.170000,0.120000,893,604,288,0.160000,0

In [2]:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix

train,test = train_test_split(data, test_size=0.3, random_state=0)


del train['ExStatus']
del test['ExStatus']


train.isnull().sum()

objective    0
p01rcy       0
p02rcy       0
p03rcy       0
p04rcy       0
            ..
tf94         0
tf95         0
tf96         0
tf99         0
gender3      0
Length: 201, dtype: int64

In [3]:
train.head()

,objective,p01rcy,p02rcy,p03rcy,p04rcy,totalspend,p05spend,p05trans,p06rcy,p07rcy,...,tf89,tf90,tf91,tf92,tf93,tf94,tf95,tf96,tf99,gender3
2093,positive,0.000000,0.0,0.995671,0.0,2232,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.111111,0.000000,0.000000,29,0,0,0.000000,0
2017,positive,0.000000,0.0,0.995633,0.0,3258,0.0,0.0,0.0,0.0,...,1.433784,0.710811,0.486486,0.256757,0.229730,1726,1066,660,0.216216,1
962,positive,0.000000,0.0,0.000000,0.0,148,0.0,0.0,0.0,0.0,...,0.547541,0.240984,0.245902,0.147541,0.098361,440,272,168,0.131148,0
1210,positive,0.948052,0.0,0.995671,0.0,1099,0.0,0.0,0.0,0.0,...,0.949868,0.358839,0.374670,0.228232,0.147757,1283,978,306,0.174143,0
794,negative,0.000000,0.0,0.000000,0.0,50,0.0,0.0,0.0,0.0,...,0.443425,0.363914,0.171254,0.085627,0.085627,141,77,64,0.085627,0

In [4]:

train.head()

#test.head()

train_X = train[train.columns[1:]]

test.shape

train_Y=train[train.columns[0]]

In [5]:

model = LogisticRegression()
model.fit(train_X, train_Y)


test_X = test[test.columns[1:]]
test_Y = test[test.columns[0]]

In [6]:
prediction1= model.predict(test_X)

In [7]:
print('La precision del test es: ', metrics.accuracy_score(prediction1,test_Y))

print('la matriz de confusion : \n', metrics.confusion_matrix(prediction1,test_Y))

La precision del test es:  0.5493827160493827
la matriz de confusion :
 [[178 167]
 [125 178]]